input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
textarea {
	backface-visibility: hidden;
	background: $color__background-input;
	border: solid 1px $color__border;
	font-size: 1.1rem;
	box-sizing: border-box;
	outline: none;
	padding: 0.2rem ;
	border-radius: 0.3rem;
	-webkit-appearance: none;
	outline-offset: 0;

	&:focus {
		border-color: $color__link;
		outline: thin solid rgba( $color__link, 0.15 );
		outline-offset: -4px;
	}
}

input[type="search"] {
	&::-webkit-search-decoration {
		display: none;
	}
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
}

form {

	p {
		margin: 1rem 0;
	}

	margin: 0;
	padding: 0;
}


// contact form 7 layout ======== 
.wpcf7 {

	max-width: 800px;
	margin: auto;


	input[type="text"],
	input[type="email"] {
		width: 100%;
		max-width: 100%;
	}

}