// Font and typographic variables
$font__body: "Roboto", "Helvetica Neue", sans-serif; 

$font__heading: "Roboto", "Helvetica Neue", sans-serif;

$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;

$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 16px;

$font__size-sm:     1rem / 1.2;
$font__size-lg:     1rem * 1.25;
$font__size-xl:     1rem * 1.5;
$font__size-xxl:    1rem * 2;
$font__size-xxxl:   1rem * 2.5;

$font__line-height-body: 1.6;
$font__line-height-heading: 1.4;